__pycache__/
*.py[oc]
*.pyc
*.egg-info
*.pyc

.venv
venv
.env
chat.db
mlflow.db
*.jpg
*.png

build/
wheels/
logs/
artifacts/
mlruns/
credentials/
data/
*.db
*.db-shm
*.db-wal
.dvc/cache/
.prefect/
scripts/__pycache__/
/tmp/

minikube-linux-amd64 